In [10]:
import sqlalchemy
import datetime as dt
import pandas as pd

In [11]:
expiry = dt.date(2021, 6, 24)

In [12]:
exp_string = expiry.strftime("%Y-%m-%d")
engine = sqlalchemy.create_engine(f'sqlite:///F:/Database/zerodha DataBase/nifty_options_data/{exp_string}.db')

In [41]:
symbol = "NIFTY21JUN15700CE"
df = pd.read_sql(f'SELECT * FROM {symbol};', engine)
df["Time"] = pd.to_datetime(df["Time"])
df.set_index("Time", inplace = True)

In [42]:
df.tail()

                      Open   High    Low  Close  Volume
Time
2021-06-24 15:25:00  90.15  91.75  90.00  91.05  127125
2021-06-24 15:26:00  91.00  91.55  90.00  90.30   66000
2021-06-24 15:27:00  90.05  90.55  89.90  90.05   35100
2021-06-24 15:28:00  90.05  90.50  89.85  90.50   41325
2021-06-24 15:29:00  90.40  90.80  90.20  90.35   39675